<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>

<script>
    var gitment = new Gitment({
        ## owner: hanyuancheung
        ## repo: hanyuancheung.github.io
        owner: 'hanyuancheung',
        repo: 'hanyuancheung.github.io',
        oauth: {
            client_id: '256bf1fadd43de06c493',
            client_secret: 'e847137a31316222213133f5e861eb93f4cf6c8f',
        },
    })
    gitment.render('container')
</script>